doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    meta(name="keywords", content="ららぽーと,イベント,ショッピング,キャンペーン,アンドモール,三井ショッピングパーク,クレジット,カード,アプリ,ポイント")
    meta(property="og:url" content="https://mitsui-shopping-park.com/lalaport/special/xmas20/")
    meta(property="og:title" content="ららぽーとクリスマス2020｜ららぽーと")
    meta(property="og:image" content="./_assets/images/ogp.jpg")
    title ららぽーとクリスマス2020｜ららぽーと
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css")
    link(rel="stylesheet" href="./_assets/css/style.css")
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KSVGML');
    // End Google Tag Manager
    // Global site tag (gtag.js) - Google Ads: 715197458
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=AW-715197458")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'AW-715197458');
    // Event snippet for ページビュー（30日間） conversion page
    script.
      gtag('event', 'conversion', {'send_to': 'AW-715197458/IqMpCKO1tLEBEJKYhNUC'});

  body
    .Wrapper
      include ./_includes/_header
      include ./_includes/_main
      include ./_includes/_footer

    script(src="./_assets/js/vendor.js")
    script(src="./_assets/js/app.js")

    script(type="text/javascript" language="javascript").
      /* <![CDATA[ */
      var yahoo_ydn_conv_io = "zPgwtVcOLDVrNp7RSZoe";
      var yahoo_ydn_conv_label = "5ZI7AWK8WZJR3IN9B74651319";
      var yahoo_ydn_conv_transaction_id = "";
      var yahoo_ydn_conv_value = "0";
      /* ]]> */
    script(type="text/javascript" language="javascript" charset="UTF-8" src="https://b90.yahoo.co.jp/conv.js")

    // Yahoo Code for your Target List
    script(type="text/javascript" language="javascript").
      /* <![CDATA[ */
      var yahoo_retargeting_id = 'A0877QVG7Y';
      var yahoo_retargeting_label = '';
      var yahoo_retargeting_page_type = '';
      var yahoo_retargeting_items = [{item_id: '', category_id: '', price: '', quantity: ''}];
      /* ]]> */
    script(type="text/javascript" language="javascript" src="https://b92.yahoo.co.jp/js/s_retargeting.js")

    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2719911478021542');
      fbq('track', 'PageView');
    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=2719911478021542&ev=PageView&noscript=1")
    // End Facebook Pixel Code
    
    // Insert Script Begin
    script(type="text/javascript").
      var adv_id = '5000000191361106';
      (function(){var rurl='https://3ppa.jp.cinarra.com/tppa?';var queries=['v=1','evt=5','adv_id='+encodeURIComponent(adv_id),'ref='+encodeURIComponent(encodeURI(document.referrer)),'url='+encodeURIComponent(encodeURI(document.URL))];var img=document.createElement('img');img.src=rurl+queries.join('&');img.width='0';img.height='0';img.style='display:none';document.body.appendChild(img);}());
    // Insert Script End
    script(type="text/javascript").
      var adv_id = '5000000191396838';
      (function(){var rurl='https://3ppa.jp.cinarra.com/tppa?';var queries=['v=1','evt=5','adv_id='+encodeURIComponent(adv_id),'ref='+encodeURIComponent(encodeURI(document.referrer)),'url='+encodeURIComponent(encodeURI(document.URL))];var img=document.createElement('img');img.src=rurl+queries.join('&');img.width='0';img.height='0';img.style='display:none';document.body.appendChild(img);}());

